@media (max-width: 1200px) {
	.navbar > .container {
		max-width: 600px;
	}
	.logo {
		margin-left: -250px;
	}

	.nav-link {
		margin-right: 20px !important;

	}

	.timeline-panel {
		width: 33vw !important;
	}

	.timeline-badge {
		display: none;
	}
}



@media (max-width: 768px) {
	.navbar {
		display: none !important;
	}

	.carousel-inner {
		height: 70vh !important;
	}

	.logo-big {
		width: 100vw !important;
		margin-top: -300px;
	}

	.mr-3 {
		margin-right: 5.6rem!important;
	}

	.venue-info {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
		margin-left: -50px;

	}

	.speaker img {
		margin-left: 60px;
		margin-bottom: 30px;
	}

	.speaker-text{
		width: 50vw;
		height: 23vh;
		left: 65px;

}

