@media (max-width: 1024px) {

	.navbar {
		background-color: rgba(255, 255, 255, 1);
	}

	.speaker-text {
		width: 18vw;
		margin-left: 3px;
	}
	.speaker-name {
		margin-left: 0;
	}

	.col-mobile {
		margin-right: 22px;
	}




	.register-message {

		margin-top: -450px;
		margin-left: 640px;
		-webkit-transform: scale(0);
		transform: scale(0.9);
	}



	.close-gap {
		margin-top: -30px;
	}

	.form {

		-webkit-transform: scale(.9);
		transform: scale(.9);
		margin-top: 200px;

	}
}

@media (max-width: 768px) {
	.row-mobile-1 {
		text-align: center
	}

	.row-mobile-2 {
		text-align: center
	}




	.speaker-text {
		width: 19vw;
		font-size: 7px;
		margin-left: -3px;



	}

	.register-message {

		margin-top: -700px;
		margin-left: 90px;
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}



	.close-gap {
		margin-top: -30px;
	}

	.form {

		-webkit-transform: scale(.4);
		transform: scale(.9);
		margin-top: 200px;




	}


	.img-mobile {
		text-align: center;

	}

	.feature-icon {
		padding-left: 0px;

	}

	.venue-info {
		margin-left: 10px;
		width: 400px;
		margin-top: 50px;
		margin-bottom: 100px;

	}

}

@media (max-width: 425px) {

	body {
		padding-top: 60px;
	}
	.speaker-text {
		width: 45vw;
		font-size: 9px;
		margin-left: 95px;


	}

	.register-message {

		margin-top: -620px;
		margin-left: -30px;
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		white-space: nowrap;

	}


	label {
		white-space: nowrap;
		-webkit-transform: scale(0.7);
		transform: scale(0.7);
		margin-left: -30px;
		margin-top: 10px;
	}

	.form {

		-webkit-transform: scale(.8);
		transform: scale(.8);
		margin-top: 100px;
	}




}






@media (max-width: 375px) {
	.venue-info {
		margin-left: 10px;
		width: 300px;
		margin-top: 50px;
		margin-bottom: 100px;

	}

	.speaker-text {
		width: 50vw;
		margin-left: 75px;


	}

	.register-message {


		margin-left: -60px;
	}


	label {
		white-space: nowrap;
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		margin-left: -40px;
		margin-top: 10px;
	}

	#myBtn i {

		right: 2px;

	}

}







@media (max-width: 370px) {


	.speaker-text {
		width: 50vw;
		margin-left: 70px;


	}
}


@media (max-width: 330px) {


	.speaker-text {
		width: 60vw;
		margin-left: 45px;


	}
}
