html {
	overflow-y: scroll;


}

body {
	overflow: hidden;
}

.view,
body,
html {
	background-color: #ffffff;
	color: #330033 !important;
	font-family: Montserrat, sans-serif;
}



section {
	padding-top: 50px !important;
	padding-bottom: 50px !important;
}

.no-js .loader {
	display: none;
}

.js .loader {
	display: block;
	position: absolute;
	left: 100px;
	top: 0;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('https://res.cloudinary.com/dx8q9ssty/image/upload/v1523338784/favicon.gif') 50% 50% no-repeat rgb(255, 255, 255);

}

.carousel {
	height: 100%;
}

.carousel .carousel-inner {
	height: 100%;
}

.carousel .carousel-inner .active,
.carousel .carousel-inner .carousel-item {
	height: 100%;
}


.logo-big {
	width: 100vw;
	height: auto;
}

.rgba-white-light {
	background-color: rgba(0, 0, 0, 0);
}

video {
	max-width: 100%;
	height: auto;
}


.navbar {
	background-color: rgba(255, 255, 255, 1);
	font-size: 15px;
	letter-spacing: 3px;
	box-shadow: 5px 5px 5px rgba(155, 48, 232, 0.5);
	-moz-box-shadow: 5px 5px 5px rgba(155, 148, 232, 0.5);
	-webkit-box-shadow: 5px 5px 5px rgba(155, 48, 232, 0.5);
}

#myBtn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background: rgba(0, 0, 0, 0.4);
	width: 50px;
	height: 50px;
	z-index: 99;
	display: block;
	text-decoration: none;
	border-radius: 50%;
	-webkit-transition: all 0.3s linear;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	cursor: pointer;
}

#myBtn i {
	color: #fff;
	margin: 0;
	position: relative;
	font-size: 20px;
	top: 10px;
	right: 0px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}


#myBtn:hover {
	background-color: rgba(155, 48, 232, 0.9);

}

#myBtn:hover i {
	top: -10px;
}

#myBtn hover i {
	color: #fff;
	top: 5px;
}




.navbar a {
	font-weight: 500;
	color: #330033 !important;
}

.navbar a:hover {
	color: #9b30e8!important;
}

.navbar-nav > li > .dropdown-menu {
	background-color: #FF0000;
}

.logo {
	width: 20vh;
	height: auto;
}


#contactTitle {
	font-family: Montserrat, sans-serif;
	font-weight: 600;
	letter-spacing: 3px;
	color: #330033 !important;
	margin-bottom: 50px;
	position: relative;

}

#contactTitle:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 5px;
	background-color: #9b30e8;
	margin-bottom: 10px;
	margin-right: 10px;


}

#registrationTitle {
	font-family: Montserrat, sans-serif;
	font-weight: 600;
	letter-spacing: 3px;
	color: #ece6ed !important;
	margin-bottom: 50px;
	position: relative;

}

#registrationTitle:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 5px;
	position: absolute;
	background-color: #9b30e8;
	left: 540px;
	top: 15px;


}

.feature-title {
	font-weight: 600;
	font-size: 20px;
	font-family: Montserrat, sans-serif;
}



.feature-icon {
	padding-left: 15px;
	color: #9b30e8!important
}

.about-title {
	font-weight: 400;
	font-size: 20px;
	padding-bottom: 10px;
}

.about-title i {
	font-size: 30px;
}

.contact-info {
	font-weight: 400;
	font-size: 25px;
	padding-bottom: 10px;

}

#venueSection {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .3)), to(rgba(0, 0, 0, .3))), url('https://res.cloudinary.com/dx8q9ssty/image/upload/v1523338366/venue-min.png');
	background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('https://res.cloudinary.com/dx8q9ssty/image/upload/v1523338366/venue-min.png');
	background-size: contain, cover;
	background-repeat: no-repeat;
	width: 100vw;
	height: auto;
}

.venue-info {
	position: relative;
	background-color: #fff;
	padding: 13%;
	margin-left: 200px;
	width: 500px;
	margin-top: 50px;
	margin-bottom: 100px;
}

#venue-title {
	font-family: Montserrat, sans-serif;
	font-weight: 600;
	letter-spacing: 3px;
	margin-bottom: 20px;
	font-size: 1.75em;
	position: relative;

}

#venue-title:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 5px;
	background-color: #9b30e8;
	margin-bottom: 10px;
	margin-right: 10px;

}

.venue-textTitle {
	margin-bottom: 20px;
}

.speaker img {
	width: 200px;
	height: 200px;
}

.speaker-text {
	font-family: Montserrat, sans-serif;
	color: #fff;
	position: absolute;
	font-size: 9px;
	font-weight: 100;
	z-index: 1;
	background-color: #9b30e8;
	opacity: 0;
	width: 15vw;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	height: auto;
	padding: 10px 10px 10px 10px;
	-webkit-transition: .5s;
	transition: .5s;
	margin-left: -2px;
}

.box-1,
.box-2,
.box-3,
.box-4 {
	position: relative
}

.box-1:hover .speaker-text {
	opacity: .97;
}

.box-2:hover .speaker-text {
	opacity: .97;
}

.box-3:hover .speaker-text {
	opacity: .97;
}

.box-4:hover .speaker-text {
	opacity: .97;
}

.box-1:active .speaker-text {
	opacity: .97;
}

.box-2:active .speaker-text {
	opacity: .97;
}

.box-3:active .speaker-text {
	opacity: .97;
}

.box-4:active .speaker-text {
	opacity: .97;
}



.schedule-section {
	background-color: #F8F8F8;

}

.time-container {
	border-left: 1px solid #44074c;
	margin-bottom: 50px;
	margin-left: 30px;
	height: 200px;
}




.time-container p {


	display: inline-block;
	white-space: nowrap;
	text-align: left;


}

.time-container h4 {
	border-bottom: 1px solid #44074c;
	display: inline-block;
	white-space: nowrap;
	font-size: 16px;
}

.show-flex {
	max-width: 250px !important;

}

.show-flex h4 {
	color: #330033;
	font-weight: 400;
	font-size: 19px;
}

.feature-speaker {
	color: #5b325b !important;
	font-weight: 100 !important;
	font-size: 15px !important;
}

.show-flex time {
	color: #5b325b;
	font-weight: 100;
	font-size: 12px;
}

.show-flex p {
	color: #5b325b;
	font-weight: 100;
	font-size: 12px;
}

#venue-title {
	font-family: Montserrat, sans-serif;
	font-weight: 600;
	letter-spacing: 3px;
	margin-bottom: 20px;
	font-size: 1.75em;
	position: relative;

}

#venue-title:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 5px;
	position: absolute;
	background-color: #9b30e8;
	left: -30px;
	top: 20px;

}

.form {
	background: rgba(255, 255, 255, 0);
	padding: 40px;
	max-width: 600px;
	margin: 40px auto;
	border-radius: 4px;
	-webkit-box-shadow: 0 4px 10px 4px rgba(19, 35, 47, .3);
	box-shadow: 0 4px 10px 4px rgba(19, 35, 47, .5);
	font-family: Montserrat, sans-serif;
	font-weight: 600;
	position: relative;
	padding-top: 60px;
	padding-bottom: 60px;
	margin-left: 50px;
	float: left;


}

.form h1 {
	letter-spacing: 3px;
}

.tab-group {
	list-style: none;
	padding: 0;
	margin: 0 0 40px 0;
}

.tab-group:after {
	content: "";
	display: table;
	clear: both;
}

.tab-group li a {
	display: block;
	text-decoration: none;
	padding: 15px;
	background: rgba(160, 179, 176, .25);
	color: #a0b3b0;
	font-size: 20px;
	float: left;
	width: 50%;
	text-align: center;
	cursor: pointer;
	-webkit-transition: .5s ease;
	transition: .5s ease;
}

.tab-group li a:hover {
	background: #179b77;
	color: #fff;
}

.tab-group .active a {
	background: #1ab188;
	color: #fff;
}

.tab-content > div:last-child {
	display: none;


}

h1 {
	text-align: center;
	color: #fff;
	font-weight: 300;
	margin: 0 0 40px;
}

label {
	position: absolute;
	-webkit-transform: translateY(6px);
	transform: translateY(6px);
	left: 13px;
	color: rgba(255, 255, 255, .5);
	-webkit-transition: all .25s ease;
	transition: all .25s ease;
	-webkit-backface-visibility: hidden;
	pointer-events: none;
	font-size: 22px;
	letter-spacing: 3px;
	font-weight: 400;

}

label .req {
	margin: 2px;
	color: #9b30e8;
}

label.active {
	-webkit-transform: translateY(50px);
	transform: translateY(50px);
	left: 2px;
	font-size: 14px;
}

label.active .req {
	opacity: 0;
}

label.highlight {
	color: #fff;
}

input,
textarea {
	font-size: 22px;
	display: block;
	width: 100%;
	height: 100%;
	padding: 5px 10px;
	background: 0 0;
	background-image: none;
	border: 1px solid #a0b3b0;
	color: #fff;
	border-radius: 0;
	-webkit-transition: border-color .25s ease, -webkit-box-shadow .25s ease;
	transition: border-color .25s ease, -webkit-box-shadow .25s ease;
	transition: border-color .25s ease, box-shadow .25s ease;
	transition: border-color .25s ease, box-shadow .25s ease, -webkit-box-shadow .25s ease;
}

input:focus,
textarea:focus {
	outline: 0;
	border-color: #1ab188;
}

textarea {
	border: 2px solid #a0b3b0;
	resize: vertical;
}

.field-wrap {
	position: relative;
	margin-bottom: 40px;
}


.top-row:after {
	content: "";
	display: table;
	clear: both;
}

.top-row > div {
	float: left;
	width: 48%;
	margin-right: 4%;
}

.top-row > div:last-child {
	margin: 0;
}

.button {
	border: 0;
	outline: 0;
	border-radius: 0;
	padding: 15px 0;
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .1em;
	background: #44074c;
	color: #ece6ed;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
	-webkit-appearance: none;
}

.button:focus,
.button:hover {
	background: #9b30e8;
	cursor: pointer;
	color: white;
}

.button-block {
	display: block;
	width: 100px;
}

.forgot {
	margin-top: -20px;
	text-align: right;
}

.small-message {
	color: rgba(255, 255, 255, 0.9);
	font-weight: 300;
	font-size: 13px;
	letter-spacing: 2px;
	margin-bottom: 0px;

}

.close-gap {
	margin-top: -40px;
}

.large-message {
	color: white;
	font-weight: 700;
	font-size: 60px;
}


.register-message {
	float: left;
	padding-left: 20px;
	margin-top: 100px;
}

.register-message:after {
	content: "";
	width: 100px;
	height: 5px;
	position: absolute;
	background-color: #9b30e8;
}




#registrationSection {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 20, 20, .5)), to(rgba(20, 20, 20, .5))), url('https://res.cloudinary.com/dx8q9ssty/image/upload/v1523337689/convention-center.jpg');
	background: linear-gradient(rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url('https://res.cloudinary.com/dx8q9ssty/image/upload/v1523337689/convention-center.jpg');
	background-size: contain, cover;
	background-repeat: no-repeat;
	overflow: hidden;
}




.container.gallery-container {
	background-color: rgba(255, 255, 255, 0);
	color: #35373a;
	min-height: 100vh;
}

.gallery-container h1 {
	text-align: center;
	margin-top: 50px;
	font-family: Montserrat, sans-serif;
	font-weight: 700;
}

.gallery-container p.page-description {
	text-align: center;
	margin: 25px auto;
	font-size: 18px;
	color: #999;
}

.tz-gallery {
	padding: 40px;
}

.tz-gallery .row > div {
	padding: 2px;
}

.tz-gallery .lightbox img {
	width: 100%;
	border-radius: 0;
	position: relative;
}

.tz-gallery .lightbox:before {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	opacity: 0;
	color: #fff;
	font-size: 26px;
	font-family: 'Glyphicons Halflings';
	content: '\e003';
	pointer-events: none;
	z-index: 9000;
	-webkit-transition: .4s;
	transition: .4s;
}

.tz-gallery .lightbox:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: rgba(46, 132, 206, .7);
	content: '';
	-webkit-transition: .4s;
	transition: .4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
	opacity: 1;
}

.baguetteBox-button {
	background-color: transparent!important;
}

.gallery-container2 h1 {
	text-align: center;
	margin-top: 70px;
	font-family: Montserrat, sans-serif;
	font-weight: 700;
	color: #58595a;
}

.gallery-container2 p.page-description {
	text-align: center;
	margin: 30px auto;
	font-size: 18px;
	color: #85878c;
}

.tz-gallery2 {
	padding: 40px;
}

.tz-gallery2 .thumbnail {
	padding: 0;
	margin-bottom: 30px;
	background-color: #fff;
	border-radius: 4px;
	border: none;
	-webkit-transition: .15s ease-in-out;
	transition: .15s ease-in-out;
	-webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, .06);
	box-shadow: 0 8px 15px rgba(0, 0, 0, .06);
}

.tz-gallery2 .thumbnail:hover {
	-webkit-transform: translateY(-10px) scale(1.02);
	transform: translateY(-10px) scale(1.02);
}

.tz-gallery2 .lightbox2 img {
	border-radius: 4px 4px 0 0;
	max-width: 100%;
}

.tz-gallery2 .caption {
	padding: 26px 30px;
	text-align: center;
	color: #000;
}

.tz-gallery2 .caption h3 {
	font-size: 14px;
	font-weight: 700;
	margin-top: 0;
}

.tz-gallery2 .caption p {
	font-size: 12px;
	color: #7b7d7d;
	margin: 0;
}


.venue-more {
	font-weight: 400px;
	font-size: 20px;
	letter-spacing: 2px;

}


.speaker-main {
	font-size: 12px;
	letter-spacing: 3px;
	margin-bottom: 1px;
}

.speaker-ok {
	font-size: 10px;
	letter-spacing: 2px;
	margin-bottom: 4px;
}

#photoTitle {
	font-family: Montserrat, sans-serif;
	font-weight: 600;
	letter-spacing: 3px;
	color: #330033 !important;
	margin-bottom: 50px;
	position: relative;

}

#photoTitle:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 5px;
	background-color: #9b30e8;
	margin-bottom: 10px;
	margin-right: 10px;


}


#sponsorTitle {
	font-family: Montserrat, sans-serif;
	font-weight: 600;
	letter-spacing: 3px;
	color: #330033 !important;
	margin-bottom: 50px;
	position: relative;

}

#sponsorTitle:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 5px;
	background-color: #9b30e8;
	margin-bottom: 10px;
	margin-right: 10px;


}


#scheduleTitle {
	font-family: Montserrat, sans-serif;
	font-weight: 600;
	letter-spacing: 3px;
	color: #330033 !important;
	margin-bottom: 50px;
	position: relative;

}

#scheduleTitle:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 5px;
	background-color: #9b30e8;
	margin-bottom: 10px;
	margin-right: 10px;


}

#speakersTitle {
	font-family: Montserrat, sans-serif;
	font-weight: 600;
	letter-spacing: 3px;
	color: #330033 !important;
	margin-bottom: 50px;
	position: relative;

}

#speakersTitle:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 5px;
	background-color: #9b30e8;
	margin-bottom: 10px;
	margin-right: 10px;


}

#aboutTitle {
	font-family: Montserrat, sans-serif;
	font-weight: 600;
	letter-spacing: 3px;
	color: #330033 !important;
	margin-bottom: 50px;
	position: relative;

}

#aboutTitle:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 5px;
	background-color: #9b30e8;
	margin-bottom: 10px;
	margin-right: 10px;


}

#presentTitle {
	font-family: Montserrat, sans-serif;
	font-weight: 600;
	letter-spacing: 3px;
	color: #330033 !important;
	margin-bottom: 50px;
	position: relative;

}

#presentTitle:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 5px;
	background-color: #9b30e8;
	margin-bottom: 10px;
	margin-right: 10px;


}




.contact-icon {
	color: #9b30e8;
	padding-bottom: 10px;
	font-size: 40px !important;
}


.move-left {
	margin-left: -30px;
}

a.link-text {
	font-weight: 400;
	color: #9b30e8 !important;
}

a.link-text:hover {
	color: #46D44E!important;

}

.btn-outline-white {
	color: #44074c!important;
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	border: none!important;
}

.btn-outline-white:hover {
	border: none!important;
	color: #9b30e8!important;
}

.speaker-name {
	font-weight: 400;
	font-size: 15px;
	letter-spacing: 1px;
	margin-left: -60px;
	margin-top: 10px;
	font-family: Montserrat, sans-serif;
}




.wrap-this {
	white-space: nowrap;
}

.move-this {
	margin-bottom: 10px;
}




.pb-4 a {
	padding-left: 20px;
	padding-right: 20px;
}

.share-title {
	font-weight: 500;
	font-size: 20px;
	margin-bottom: 20px;
	letter-spacing: 3px;
	font-family: Montserrat, sans-serif;
	color: #44074c;
}

.page-footer {
	background-color: #fff!important;
}

.page-footer i {
	color: #44074c!important;
	font-size: 20px!important;
}

.page-footer i:hover {
	color: #9b30e8 !important;

}

#team-box {
	background-color: #F8F8F8;
	margin-top: -50px;
}



.photos {
	background-color: #F8F8F8;
}

.no-margin {
	margin-bottom: 0;
	padding-bottom: 10px;
}


.pt-4 a:hover .fa {
	color: #9b30e8 !important;
}

.about-more {
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 2px;

}

.contact-color {
	background-color: #F8F8F8;
}
